<h1 id="tableLabel">Listado de libros</h1>

<p *ngIf="!libros"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="libros">
  <thead>
    <tr>
      <th>Nombre libro</th>
      <th>ISBN</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let libro of libros">
      <td>{{ libro.nombreLibro }}</td>
      <td>{{ libro.isbn }}</td>
      <td>
        <a href="#" class="btn btn-info">Adicionar</a> |
        <a href="#" class="btn btn-primary">Editar</a> |
        <a href="#" class="btn btn-info">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
